body {

}

.profile_banner {
  display: flex;
  padding-top: 0;
}

.title h1 {
  text-align: center;
  margin: 32px 0;
}

.dog-index-container {
  // background-color: yellow;
  width: 50%;
  overflow-y: auto;
  padding-bottom: 10vh;
}

#map {
  position: sticky;
  width: 50vw;
  height: 100vh;
}
