.profile_banner {
  display: flex;
  padding-top: 0;
}

.title {
  margin-top: 24px;
}

.dog-index-container {
  // background-color: yellow;
  width: 50%;
}

#map {
  position: sticky;
  top: 72px;
  width: 50vw;
  height: 100vh;
}
