<div class="container col-xs-12 col-sm-4 col-sm-offet 3">
  <h1 style="color: black; font-family: Pacifico, cursive; padding-bottom: 50px;">Edit your booking details:</h1>

  <%= simple_form_for @booking do |f| %>
    <%= f.input :booked_from, label: "Start date", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :booked_until, label: "End date", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, class: "btn btn-primary", style: "margin: 20px 0px; border-radius: 9px;" %>
  <% end %>
</div>





