<div class="container">
  <div class="d-flex justify-content-center align-items-center" id="footer-container">
    <div class="m-5"><%= link_to "About", aboutus_path %></div>
    <div class="m-5"><%= link_to "Contact", contactus_path %></div>
  </div>
</div>
