<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/800x600/?dog/<%= rand(50) %>);">
    <div class="container">

<h1>We are Dawg Rentals </h1>

<h2>We love combining Dog Lovers with Dog owners</h2>

<h4> We love coding and have created this website as part of a lewagon project</h4>

<a href="https://github.com/TheGinjaNinja/dawg_rentals_v2/" target="_blank"> <h4> Click Here to see our code </h4></a>

    </div>
</div>
