<div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/74/6d/ab/746dab017f2d7f3c5da3aa7b1995d706.jpg);">
  <div class="container">
    <h1>Dawg Rentals</h1>
    <div class="button-container">
     <%= link_to "Search for your new best friend", "/dogs", class: "btn-home" %>
    </div>
  </div>
</div>
