<div class="bg">
      <h1 style= 'font-family: Pacifico, cursive';>Dawg Rentals</h1>
   <div class="button-container">
   <%= link_to "Search for your new best friend", "/dogs", class: "btn-home"  %>
   </div>
<div class="jumbotron jumbotron-fluid">
    <%= video_tag "homepage-dog.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false %>
</div>



