<div class= "container">

  <div class="row justify-content-center p-5" id="title-text">
    <h1 style= 'font-family: Pacifico, cursive';>Dawg Rentals</h1>
  </div>

  <div class= "row">
    <div class= "col">
    </div>
    <div class="col-10">
      <div class="bg">
        <h1 style= 'font-family: Pacifico, cursive';></h1>
        <div class="button-container">
        </div>
        <div class= "container-fluid">
          <div class= "row">
            <h1>
              <a href="/dogs" class="typewrite" id="moving-text" data-period="2000" style= 'color:white' data-type='["Search for your new best friend"]'>
                <span class="wrap"></span>
              </a>
            </h1>
          </div>
        </div>
       <div class="col">
      </div>
      </div>
    </div>
  </div>
</div>


  <div class="row justify-content-center p-5">

 <div class="button-container col-xs-12 col-sm-4 col-sm-offet 3" style= 'padding-top: 10px;'>
        <%= simple_form_for :search, url: dogs_path, method: :get do |f| %>
          <div class="search-form-control form-group" style= 'outline: none;'>
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search Dawgs..." />
          </div>
        <% end %>
        <div>
          <i class="fas fa-search" style='font-size: 20px;'></i>
        </div>
      </div>
  </div>
<div class="jumbotron jumbotron-fluid">
    <%= video_tag "homepage-dog.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false %>
</div>


