<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/800x600/?dog/<%= rand(50) %>);">
    <div class="container">

<h1>If you have any problems with Dawg Rentals then woof of</h1>

    </div>
</div>
