// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner_img";
@import "cards";
@import "dogcard";
@import "bookingcard";

.container h1, h2 {
  text-align: center;
}

.combine {
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  justify-content: space-around;

}

.dog-info {
  padding-top: 10px;
  text-align: center;
}


