.simple-form {
  display: flex;
}

.search-form-control {
  position: relative;
}

.form-group {
  margin-bottom: 0px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 2rem;
  border: none;
}

.search-form-control .form-control:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}

.fa-search {
  font-size: 16px;
  padding-top: 8px;
  color: grey;
}
